.menu-superior{
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-menu{
    margin-top:0px auto; 
    margin-left: 50%;
    margin-right: 50%;
    font-size: 50px;
    padding: 5px;
}

.menu-superior-elem{
    padding-top: 12px;
}


.menuResponsive {
    display: block;
    position: absolute;
    top: 100;
    height: 0vh;
    background-color: rgba(#e8eb45, 0.8);
}
.menuResponsive-active {
    display: block;
    position: absolute;
    top: 100;
    height: 20vh;
    width: 30%;
    background-color: rgba(#dbe920, 0.8);
    border-radius: 0px 0px 5px 5px;
    transition: 0.2s ease;
}
.menu {
    display: none;
}
.menu-active {
    display: block;
}

.menu li {
    list-style-type: none;
    margin-left: -20px;
}
.menu li a{
    color: #fff;
    font-size: calc(15px + 1vw);
    font-weight: bolder;
}
.menu li a:hover{
    color: #ccc;
    text-decoration: none;
}

/*VICTOR*/
#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #212529;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

.masthead {
    text-align: center;
    color: white;
    background-image: url("/assets/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    .masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
}
