<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fas fa-users"></i>
    </div>

    <!-- Login Form -->
    <form novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <input type="text" id="email" class="fadeIn second" formControlName="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/signup">¿Eres nuevo? Registrate</a>
    </div>

  </div>
</div>
