<!--HOME NO LOGIN-->
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      INFO WEB NO LOGIN
    </div>
  </div>
</div>
<!--ITEMS LOGIN-->
<div class="container" *ngIf="chkUser">
  <div class="album py-5 bg-light">
    <div class="card-deck">
      <!-- ITEMS -->
      <div class="col-md-4 big-devices-card" *ngFor="let item of itemArray">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/electricista.jpg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
            <p class="card-text">{{item.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">{{item.date.substring(0,10)}}</small>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN ITEMS -->
    </div>
  </div>
</div>
<!-- MODAL CON LA INFO DEL ITEM -->
