<!--
  Ejemplo. Plantilla única, generando una con los datos que reciba de cada anuncio. Div "album" y "card-deck" en app-component y añadir cards.
-->
<div class="container">
  <div class="album py-5 bg-light">
    <div class="card-deck">
      <div class="col-md-4 big-devices-card">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/electricista.jpg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Tarifas + Descripción del anuncio.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">1 Km</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 big-devices-card">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/fontanera.jpg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Tarifas + Descripción del anuncio.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">3 Km</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 big-devices-card">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/fontanero.jpeg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Tarifas + Descripción del anuncio.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">7 Km</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 big-devices-card">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/thumbnail.svg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Tarifas + Descripción del anuncio.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">1 Km</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 big-devices-card">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/thumbnail.svg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Tarifas + Descripción del anuncio.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">3 Km</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 big-devices-card">
        <div class="card mb-4 shadow-sm">
          <div class="box">
            <img src="/assets/images/thumbnail.svg" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Tarifas + Descripción del anuncio.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Chat
                </button>
              </div>
              <small class="text-muted">7 Km</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
