<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fas fa-users"></i>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="Nombre">
      <input type="text" id="surname" class="fadeIn second" name="surname" placeholder="Apellidos">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">¿Ya estas registrado? Inicia sesión</a>
    </div>

  </div>
</div>
