<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-content">
          <form #itemForm="ngForm" (ngSubmit)="addItem(itemForm)" enctype="multipart/form-data">
              <div class="row">
                <input type="hidden" name="_id" #_id="ngModel"[(ngModel)]="itemService.selectedItem._id">
                <div class="col-12">
                    <div class="form-item">

                        <input id="file-3" type="file" multiple=true name="photo" [(ngModel)]="itemService.selectedItem.photo">
                      </div>
                </div>
                  <div class="col-12">
                     <input type="text" name="title" #title="ngModel" [(ngModel)]="itemService.selectedItem.title" placeholder="Ingresa tu titulo">
                  </div>
                  <div class="col-12">
                    <input type="text" name="category" #category="ngModel" [(ngModel)]="itemService.selectedItem.category" placeholder="Ingresa tu category">
                  </div>
                  <div class="col-12">
                    <input type="text" name="description" #description="ngModel" 
                    [(ngModel)]="itemService.selectedItem.description" placeholder="Ingresa tu description">
                  </div>
                  <div class="card">
                    <div class="col-12">
                      <button class="btn btn-danger" (click)="resetForm(itemForm)">Limpiar</button>
                      <button class="btn btn-primary">Aceptar</button>
                      </div>
                  </div>

                  
                  
              </div>
          </form>
        </div>
      </div>
      

    </div>
    <div class="col-7">
      <table border="1">
        <thead>
          <th>Title</th>
          <th>Category</th>
          <th>Description</th>
          <th>Photo</th>
          <th>Operation</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemService.item">
            <td>{{item.title}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td>{{item.photo}}</td>
            <td>
              <a (click)="editItem(item)" class="">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <a (click)="deleteItem(item._id)" class="">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>