<div class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <form novalidate [formGroup]="formCreate" (ngSubmit)="addItem()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title"></label>
            <input class="form-control" type="text" id="title" formControlName="title" placeholder="Ingresa tu título" required>
          </div>
          <div class="form-group">
            <label for="category"></label>
            <select class="form-control" id="category" formControlName="category" required>
              <option value="Albañilería">Albañilería</option>
              <option value="Carpintería">Carpintería</option>
              <option value="Cocina">Cocina</option>
              <option value="Educación">Educación</option>
              <option value="Electricidad">Electricidad</option>
              <option value="Fontanería">Fontanería</option>
              <option value="Imágen">Imágen</option>
              <option value="Informática">Informática</option>
              <option value="Limpieza">Limpieza</option>
              <option value="Mecánica">Mecánica</option>
              <option value="Pintura">Pintura</option>
              <option value="Trabajodoméstico">Trabajo doméstico</option>
              <option value="Transporte">Transporte</option>
              <option value="Otros">Otros</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description"></label>
            <textarea class="form-control rounded-0" id="description" formControlName="description" placeholder="Ingresa tu descripción" required rows="5"></textarea>
          </div>
        <div class="form-group">
          <label for="file-3"></label>
          <input class="form-control-file" id="file-3" type="file" name="photo" formControlName="photo" (change)="onFileSelected($event)" required>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-danger mr-1" (click)="resetForm()">Limpiar</button>
          <button class="btn btn-primary ml-1">Crear</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <table class="table table-responsive">
        <thead>
          <th>Título</th>
          <th>Categoría</th>
          <th>Descripción</th>
          <th>Ver</th>
          <th>Borrar</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemArray">
            <td style="max-width: 100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.title}}</td>
            <td>{{item.category}}</td>
            <td style="max-width: 100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.description}}</td>
            <td><i class="fas fa-image"  data-toggle="modal" data-target="#exampleModalCenter" (click)="rellenarModal(item)"></i></td>
            <td>
              <i class="fas fa-trash" (click)="deleteItem(item._id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- MODAL CON LA INFO DEL ITEM -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{modal.title}}-{{modal.category}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-thumbnail card-img" [src]="'/assets/images/' + modal.photo" alt="{{modal.title}}" />
        <hr>
        <h5 class="text-center">Información</h5>
        <p class="text-muted text-justify text-modal">{{modal.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

