
<div class="container">
  <div class="row">
   
    <div class="col-sm-12">
      <div class="container-from">
        <div class="form-group">
          <form action="#" enctype="multipart/form-data" class="form-register">
            <div class="form-item">

              <input id="file-3" type="file" multiple=true>
            </div>

            <div class="form-item">
              <label for="name">Name</label><br>
              <input type="text" class="input-control " placeholder="introduce tu nombre" id="name" />
            </div>

            <div class="form-item">
              <label for="pass">Password</label><br>
              <input type="password" class="input-control form-center" placeholder="introduce tu nombre" id="pass" />
            </div>
            <div class="form-item">
              <label for="mail">Mail</label><br>
              <input type="text" class="input-control form-center" placeholder="introduce tu nombre" id="mail" />
            </div>
            <div class="form-item">
              <input type="button" class="btn btn-primary btn-register" value="Registro"/>    
            </div>

          </form>
          </div>
        </div>
      
    </div>
</div>
