.container{
    margin: 1rem;
    /* IMPORTANTE */
     text-align: center;
    
}

.news-job{
    width: 90%;
}
 .container-from{
     border-radius: 10px;
    background-color: beige;
    width: 100%;
    text-align: center;
    align-content: center;
 }
.form-register{
    position: relative;
    
}
.form-group{
    padding: 8%;
    
}
.form-item{
   margin-top: 9px;
   font-size: 16px;
  
}

.input-control{    
    width: 50%;
    text-align: center;
    align-content: center;
}
.form-center{
    
      text-align: center;
  }
  .btn-register{
      position: relative;
      left: 24%;
      top:59%
}