<div class="container mt-tope">
  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fas fa-users"></i>
    </div>
    <div *ngIf="showAlert" class="col-md-3 mb-2">
      <div class="alert alert-danger">
        <strong>Email ya en uso</strong>
      </div>
    </div>
    <!-- Login Form -->
    <form [formGroup]="formSignup" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="name" class="fadeIn second" formControlName="name" name="name" placeholder="Nombre">
      <input type="text" id="surname" class="fadeIn second" formControlName="surname" name="surname" placeholder="Apellidos">
      <input type="text" id="email" class="fadeIn second" formControlName="email" name="email" placeholder="Email">
      <input type="text" id="phone" class="fadeIn second" formControlName="phone" name="phone" placeholder="Telefono">
      <input type="password" id="pwd" class="fadeIn third" formControlName="pwd" name="pwd" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">¿Ya estas registrado? Inicia sesión</a>
    </div>

  </div>
</div>
</div>
