<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        <i class="fa fa-twitter-square">Twitter</i>
      </p>
      <p>
        <i class="fa fa-facebook-square">Facebook</i>
      </p>
      <p>
        <i class="fa fa-instagram">Instagram</i>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <i class="fa fa-twitter-square">Twitter</i>
      </p>
      <p>
        <i class="fa fa-facebook-square">Facebook</i>
      </p>
      <p>
          <i class="fa fa-instagram">Instagram</i>
      </p>
    </div>
  </div>
</div>